extends layout

block content
    .container.jumbotron
        h3.display-5.text-center Nema novih akcija!
   
      
    script.
        document.querySelector("#ActionPage").classList.add("active");