doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    title RezervirajStol.hr
  body.bg-dark
    // Naslov
    .jumbotron.jumbotron-fluid(style='background-color: #9179b9; margin:0')
      .container.text-white
        h1.display-3
          img(src='./assets/images/icon.png', alt='icon', style='width: 90px')
          |  RezervirajStol.hr
    // Navigacija
    nav.nav.navbar.navbar-expand-lg.bg-dark.navbar-dark.sticky-top.mb-3(style='-webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);\
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);\
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);\
    border-top: 2px solid white')
      ul.navbar-nav.nav
        li.nav-item.dropdown
          a#userNav.nav-link.dropdown-toggle.text-white(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            = ImeKorisnika
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Podaci
            a.dropdown-item(href='#', data-toggle='modal', data-target='#changePswd') Promijeni lozinku
            .dropdown-divider
            form.dropdown-item(action='/logout', method='POST')
              button.btn.bg-white(type='submit') Odjava
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav.nav
          li.nav-item
            a.nav-link.active(href='/') Početna
          li.nav-item
            a.nav-link(href='/'+ImeKorisnika) Moje rezervacije
          li.nav-item
            a.nav-link(href='/restaurants') Restorani
          li.nav-item
            a.nav-link(href='/actions') Akcije!
    // Mijenjanje lozinke
    #changePswd.modal.fade(abindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content.bg-light
          .modal-header
            h5#exampleModalLabel.modal-title Promijeni lozinku
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .form-group.text-left
                label(for='InputPassword') Nova lozinka
                input#inputPassword.form-control(placeholder='Unesi novu lozinku', required='', type='password')
              .form-group.text-left
                label(for='InputPassword') Ponovi
                input#inputPassword.form-control(placeholder='Unesi novu lozinku', required='', type='password')
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Odustani
            button.btn.text-white(type='button', style='background-color: #9179b9', data-dismiss='modal') Spremi
    // tijelo
    .container.text-white.mt-4
      h3#proba12
        | Dobro došao #{ImeKorisnika} !
      p
        | Sustav rezervacije za male restorane i pomoć restoranima da više rezervacija obave online,
        | povećaju kapacitet gostiju, poboljšaju uslugu, uštede vrijeme...
      .row.text-center
        .col-md-4
          img.rounded-circle(src='../assets/images/resIcon.png', alt='Generic placeholder image', width='140', height='140')
          h5.text-danger 1.korak
          p
            | Odaberi restoran! Prouči restorane koji su ponuđeni; njihov popis jelovnika, osnovne kontakt informacije
            | i odaberi onaj koji ti se najviše sviđa.
        .col-md-4
          img.rounded-circle(src='../assets/images/calIcon.png', alt='Generic placeholder image', width='140', height='140')
          h5.text-danger 2.korak
          p
            | Odaberi termin! Na jednostavan način izaberi datum rezervacije uz željeni termin koji ti najviše odgovara.
        .col-md-4
          img.rounded-circle(src='../assets/images/tableIcon.png', alt='Generic placeholder image', width='140', height='140')
          h5.text-danger 3.korak
          p
            | Odaberi stol! Sustav prikazuje tlocrt restorana. Pretražuje stolove na temljenu odabranog termina i 
            | prikazuje one slobodne koje možeš odabrati.
    // slajd slika
    #demo.carousel.slide(data-ride='carousel')
      // Indicators
      ul.carousel-indicators
        li.active(data-target='#demo', data-slide-to='0')
        li(data-target='#demo', data-slide-to='1')
        li(data-target='#demo', data-slide-to='2')
      // The slideshow
      .carousel-inner
        .carousel-item.active
          img.w-100(src='./assets/images/pizza.jpg', alt='Pizza')
        .carousel-item
          img.w-100(src='./assets/images/wine.jpg', alt='Wine')
        .carousel-item
          img.w-100(src='./assets/images/two.jpg', alt='Pasta')
        .carousel-item
          img.w-100(src='./assets/images/chicken.jpg', alt='Chicken')
        .carousel-item
          img.w-100(src='./assets/images/waiter.jpeg', alt='waiter')
      // Left and right controls
      a.carousel-control-prev(href='#demo', data-slide='prev')
        span.carousel-control-prev-icon
      a.carousel-control-next(href='#demo', data-slide='next')
        span.carousel-control-next-icon
    footer.text-center.text-muted.my-2 © Ivona Ostojić 2018
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
